<html>
<scripts></scripts>
<body>
<header>
Menu, Data, COSTAM
</header>
<Main>
Wiadomosci, info etc<br> 
<form method="POST">
    <label for="imie">Podaj imię:</label>
    <input id='imie' name="osoba_imie"> <br>
    
    <label for="nazwisko">Podaj nazwisko:</label>
    <input id='nazwisko' name="osoba_nazwisko"> <br>

    <label for="kolorek">Wybierz kolor:</label>
    <input id="kolorek" type="color" name='color'><br>

    <label for="data">Ulubiony dzien w roku:</label>
    <input id="data" type="date" name='pole_daty'><br>

    <label for="email">Adres e-mail:</label>
    <input id="email" type="email" name='adres_email'><br>


    <input type="submit">
</form>

</Main>

<footer>
Stworzone przez 123, email: 123@123.123
</footer>
</body>
</html>